@model List<EmpMgmt.Models.Employee>
<h1>Employee List</h1>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>DateOfJoin</th>
		<th>Designation</th>
		<th>Salary</th>
		<th>Action</th>
	</tr>
	@foreach(var employee in Model)
	{
	<tr>
		<td>@employee.Name</td>
			<td>@employee.Email</td>
			<td>@employee.DOJ.ToString("dd-MM-yyyy")</td>
			<td>@employee.Designation</td>
			<td>@employee.Salary</td>	
			<td>
				<a asp-controller="Employee" asp-action="View" asp-route-id="@employee.Id">View</a>
			</td>
	</tr>
	}
</table>