@model Product
@{
	ViewData["Title"] = "ProductInfo";
}
<h2>Product Info</h2>
<p>Name: @Model.PName</p>
<p>Price: @Model.PPrice</p>
<p>Price: @Model.PQuantity</p>
<p>Discount: @Model.DiscountPercent</p>
<p>Price: @Model.VendorContact</p>


