<!--a view file --combine html and csharp-->
@model IEnumerable<ListMVC.Models.Product>
<!--IEnumerable an interface helps to iterate over a list --for each loop -->

<!--add a button to add items to the list-->
<p>
	<a asp-action="Create" class="btn btn-primary">Add New Product</a>
</p>
<table class="table">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Price</th>
		<th>Action</th>
	</tr>

	@foreach(var product in Model)
	{
	<tr>

			<td>@product.Id</td>
			<td>@product.Name</td>
			<td>@product.Price</td>
			<!--link/button to edit product-->
			<td>
				<a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
				<a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
			</td>

	</tr>
	}
</table>